
    p{
        color: #FFF !important;
        background-color: rgb(11, 26, 93);
        font-size: 110% !important;
        text-align: center !important;
        font-style: normal;
        width: 100%;
        border-width: 1px 1px 3px;
        padding: 30px;
    }
    

