page-register {
    
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      body {
        font-family: 'Nunito', sans-serif;
        color: #0F2E49;
          background: url("../assets/img/lineas.jpg") no-repeat; ;
      
      }
      

      
      h1 {
        margin: 0 0 30px 0;
        text-align: center;
        color: white;
      }
      
      input[type="password"],
      input[type="email"],
      input[type="text"]
       {
        background: rgb(248, 245, 245);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #F8F8F8;
        color: #000000;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
        border-radius: 20px;
      }
      
      button{
        padding: 15px 30px 15px 30px;
        color: #FFF;
        background-color: #232786;
        font-size: 18px;
        text-align: center;
        font-style: normal;
      //  border-radius: 20px;
        width: 100%;
        border: 1px solid #14165E;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
      }   
      
      .boton1 {
        padding: 15px 30px 15px 30px;
        color: #FFF;
        background-color: #006B36;
        font-size: 18px;
        text-align: center;
        font-style: normal;
      //  border-radius: 20px;
        width: 100%;
        border: 1px solid #14165E;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
      }

      .boton2 {
        padding: 15px 30px 15px 30px;
        color: #FFF;
        background-color: #CA0000;
        font-size: 18px;
        text-align: center;
        font-style: normal;
      //  border-radius: 20px;
        width: 100%;
        border: 1px solid #14165E;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
      }


      
      fieldset {
        margin-bottom: 30px;
        border: none;
      }
      

      
      label {
        display: block;
        margin-bottom: 8px;
        color: white;
      }
      
      label.light {
        font-weight: 300;
        display: inline;
      }
    }